body
{
    padding: 2rem;
}

/* Hidden paragraph */

.hidden
{
    display: none;
}

#hiddenParagraphContainer
{
    margin-bottom: 2rem;
}

/* Form */

#messageForm
{
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

#messageForm *
{
    margin: 1rem 0;
}

#messageForm textarea
{
    height: 150px;
    resize: none;
}

#messagesContainer
{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.errorInput
{
    outline: 2px solid red;
    outline-offset: -2px;
}

.errorMessage
{
    color: red;
}

.successMessage
{
    color: green;
}